
.managesite-category {
  background-color: #fafaff;
  margin-bottom: 20px !important;
  padding: 15px !important;
  border: dotted #aaaaaa 1px;
}

.managesite-region {
  width: 50%;
  margin: 0;
  padding: 0;
}

#managesite-region-left {
  float: left;
}

#managesite-region-left .admin-panel {
  margin: 0 1em 3em 0;
}

.managesite-category h3 { float: left; }
.managesite-category-links { text-align: right }
  .managesite-category-links a { margin-left: 1em; font-size: 0.85em }
.managesite-category .item-list { clear: both }

#managesite-region-right {
  float: right;
}

#managesite-region-right .admin-panel {
  margin: 0 0 3em 1em;
}

.managesite-admin {
  margin-top: 20px;
}

#managesite-add-category-fieldset {
  float: left;
  width: 45%;
}

#managesite-add-item-fieldset {
  float: right;
  width: 45%;
}

.managesite_panel_role {
  width: 33%;
  padding: 0;
  margin: 0;
  float: left;
}

.managesite_panel_role.managesite_clear {
  clear: left;
}

#managesite-admin-roles-form #edit-submit {
  clear: left; float: left;
}

#managesite-configure-category-form .form-item { clear: both }
#managesite-configure-category-form .form-item label { float: left; margin-right: 10px; width: 200px }
#managesite-configure-category-form .form-item .description { margin-left: 210px }

